.container {
  margin: auto;
  padding: 2rem;
  background: #f9f9f9;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #dc3545;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* button:hover {
  background: #c82333;
} */

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
    padding: 1rem;
  }

  input, button {
    font-size: 0.95rem;
    padding: 8px;
  }
}
.passwordContainer {
  position: relative;
}

.passwordContainer input {
  width: 100%;
  padding-right: 40px; 
}

.togglePasswordBtn {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
}

.togglePasswordBtn svg {
  font-size: 20px; 
}
